---
---
<div class="relative w-full h-16 md:h-20 overflow-hidden">
  <svg
    class="absolute bottom-0 w-full h-full"
    viewBox="0 0 1440 80"
    fill="none"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 80V55Q60 40 120 50T240 50T360 50T480 50T600 50T720 50T840 50T960 50T1080 50T1200 50T1320 50T1440 40V80H0Z"
      fill="rgba(21,128,61,0.1)"
    />
    <path
      d="M0 80V65Q60 50 120 60T240 60T360 60T480 60T600 60T720 60T840 60T960 60T1080 60T1200 60T1320 60T1440 55V80H0Z"
      fill="rgba(21,128,61,0.15)"
    />
  </svg>
</div>
