---
---
<div class="absolute bottom-0 left-0 z-10 w-full overflow-hidden leading-none pointer-events-none" aria-hidden="true">
  <svg
    viewBox="0 0 1440 96"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    class="block h-16 w-full md:h-24"
  >
    <path
      d="M0 34C80 20 160 20 240 34C320 48 400 48 480 34C560 20 640 20 720 34C800 48 880 48 960 34C1040 20 1120 20 1200 34C1280 48 1360 48 1440 34V96H0V34Z"
      fill="rgba(255,255,255,0.42)"
    />
    <path
      d="M0 42C80 28 160 28 240 42C320 56 400 56 480 42C560 28 640 28 720 42C800 56 880 56 960 42C1040 28 1120 28 1200 42C1280 56 1360 56 1440 42V96H0V42Z"
      fill="#ffffff"
    />
  </svg>
</div>
